body {
    margin: 0;
    padding: 0;
    background-color: #078570;
}

.heading {
    text-align: center;
}


h1 {

    font-family: 'Charmonman', cursive;
    margin: top 0%;;
    margin-bottom: 0%;
    padding: 0%;
    color:#046656;

    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #02332c;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
}

li a:hover {
    background-color:#078570;
} 


#test {
font-family: 'Charmonman', cursive;
text-align: center;
font-size: 30px;
color:#01201b;

}