body {
    margin: 0;
    padding: 0;
    background-color: #078570;
}

.heading {
    text-align: center;
    background-color: #078570;
    margin: 0;
    padding: 0;
    height: 12vh;
  
}

#header1 {
    padding-bottom: 0%;
    margin-bottom: 0%;
}

#header2 {
    padding-top: 0;
    font-size: 20px;
    color:#034136;
    padding-top: 0%;
    margin-top: 0%;

}

#T {
    color:#099e85;
    font-family: 'Ballet', cursive;
    /* font-family: 'Birthstone Bounce', cursive; */
    /* font-family: 'Charmonman', cursive; */
    /* font-family: 'Monsieur La Doulaise', cursive; */
    padding-top: 0;
    margin-top:0;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 600%;
}
h1 {
    color:#046656;
}
/* h2 {
    font-size: 20px;
    color:#034136;
    padding-top: 0;

} */
h1, h2{

    font-family: 'Charmonman', cursive;
    padding-top: 0;
    margin-top:0;
    margin-bottom: 0;
    padding-bottom: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0a0707;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
}

li a:hover {
    background-color:#078570;
} 


#test {
font-family: 'Charmonman', cursive;
padding-top: 240px;
text-align: center;
font-size: 30px;
color:#01201b;

}